.large-dialog .modal-dialog {
    width :60%;
    min-width: 90%;
}

.medium-dialog .modal-dialog {
    width :40%;
    min-width: 60%;
}

.small-dialog .modal-dialog {
    width :30%;
    min-width: 40%;
}