<!doctype html>
<html ng-app="tortazoApp">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../img/tortazo.ico" />
  <title>{{'PageTitle' | translate }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Tortazo Web">
  <meta name="author" content="Adastra">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
    
  <link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js-core/html5shiv.js"></script>
  <![endif]-->

	<script type="text/javascript" src="../js-core/jquery.min.js"></script>
	<script type="text/javascript" src="../js-core/scripts.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-cookies.js"></script>
    <script src="../js-core/ui-bootstrap-0.11.2.min.js"></script>
    <script src="../js-core/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="../js-core/angular-translate.min.js"></script>
    <script src="../js-core/angular-translate-storage-local.js"></script>
    <script src="../js-core/angular-translate-storage-cookie.js"></script>    

    <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places&sensor=false&language=en"></script> 
    <script src='../js-core/lodash.min.js'></script>
    <script src='../js-core/angular-google-maps.min.js'></script>   

    <link rel="stylesheet" href="../app.css">

</head>

<body ng-controller="MainModalController">

<header class="navbar navbar-default navbar-static-top">
  <div class="container">
        <nav class="collapse navbar-collapse" role="navigation">
            <a href="/" class="navbar-brand">Home</a>
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" ng-click="open('small-dialog', 1, 'ModalTrace_Anonymity')">{{'Anonymity_Menu' | translate}}</a>
                </li>
                <li>
                    <a class="navbar-brand" ng-click="open('small-dialog', 2, 'ModalTrace_AboutTortazo')">{{'About_Menu' | translate}}</a>
                </li>
                <li>
                    <a class="navbar-brand" ng-click="open('small-dialog', 3, 'ModalTrace_Development')">{{'Development_Menu' | translate}}</a>
                </li>
                <li>
                  <a class="navbar-brand" ng-click="open('small-dialog', 4, 'ModalTrace_Donate')">{{'Donate_Menu' | translate}}</a>
                </li>
            </ul>
        </nav>  
    </div>
</header>

<div class="container">
	<div class="row">
    		<div class="col-md-3" id="leftCol">
				<div class="well">
              	<ul class="nav nav-stacked" id="sidebar">
                  <li>
                      <a href="#/scans">
                        <img src="../img/tortazo-small-icon.png" width="30" height="35" />
                        <b>{{'Scans_Menu' | translate}}</b>
                      </a>  

                  </li>
                  <li>
                      <a href="#/onionrepo">
                        <img src="../img/tortazo-small-icon.png" width="30" height="35" /> 
                        <b>{{'OnionRepo_Menu' | translate}}</b>
                      </a>
                  </li>
                  <li>
                      <a href="#/botnet">
                        <img src="../img/tortazo-small-icon.png" width="30" height="35" />  
                        <b>{{'Botnet_Menu' | translate}}</b>
                      </a>
                  </li>
                  <li>
                      <a href="#/plugins">
                        <img src="../img/tortazo-small-icon.png" width="30" height="35" />  
                        <b>{{'Plugins_Menu' | translate}}</b>
                      </a>
                  </li>
                  <li>
                      <a href="#/torState">
                        <img src="../img/tortazo-small-icon.png" width="30" height="35" />  
                        <b>{{'TORState_Menu' | translate}}</b>
                      </a>
                  </li>
                  <li>
                      <a ng-click="open('lg', 8, 'ModalTrace_Help')">
                        <img src="../img/tortazo-small-icon.png" width="30" height="35" />  
                        <b>{{'Help_Menu' | translate}}</b>
                      </a>
                  </li>
                  <li>
                      <a ng-click="open('lg', 9, 'ModalTrace_PROEdition')">
                        <img src="../img/tortazo-small-icon.png" width="30" height="35" />  
                        <b>{{'PRO_Menu' | translate}}</b>
                      </a>
                  </li>
              	</ul>
  				</div>

      		</div>
            <div>
                <script type="text/ng-template" id="templateModal.html">
                    <div class="modal-header">
                        <h4 class="modal-title">
                          <img src="../img/tortazo-small-icon.png" />
                          <div align="right"><b>{{trace}}</b></div>
                        </h4>                        
                    </div>
                    <div class="modal-body">
    
                      <ng-include ng_show="{{showAnonimityModal}}" src="'modals/menu/anonModal.html'"></ng-include>
                      <ng-include ng_show="{{showAboutTortazoModal}}" src="'modals/menu/aboutTortazoModal.html'"></ng-include>
                      <ng-include ng_show="{{showDevelopmentModal}}" src="'modals/menu/developmentModal.html'"></ng-include>
                      <ng-include ng_show="{{showDonateModal}}" src="'modals/menu/donateModal.html'"></ng-include>
                      <ng-include ng_show="{{showHelpMenuModal}}" src="'modals/menu/helpModal.html'"></ng-include> 
                      <ng-include ng_show="{{showProEditionMenuModal}}" src="'modals/menu/proEditionModal.html'"></ng-include>                       

                      <ng-include ng_show="{{showAnalizeModal}}" src="'modals/analizeModal.html'"></ng-include>                      
                      <ng-include ng_show="{{showGeolocateModal}}" src="'modals/geolocateModal.html'"></ng-include>
                      <ng-include ng_show="{{showNewScanModal}}" src="'modals/newscanModal.html'"></ng-include>         
                      <ng-include ng_show="{{showDetailRelayModal}}" src="'modals/detailRelayModal.html'"></ng-include>         
                                   
                    </div>
                       
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">{{'Ok_Button' | translate}}</button>
                    </div>
                </script>            
                <div class="col-md-9">
                    <div align="right"><img src="../img/tortazo-header-medium.png" /></div>
                    <div ng-view></div>
                </div>
            </div>
	</div>
</div>


    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/services.js"></script>

</body>
</html>