<div ng-controller="onionRepoController">
    <tabset>
        <tab heading="{{'OnionRepo_Incremental' | translate}}">
            <div class="panel panel-primary">
                <div class="panel-heading">{{'OnionRepo_HeaderTextIncremental' | translate}}</div>
                    <table class="table table-bordered table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>{{'OnionRepo_PartialAddress' | translate}}</th>
                            <th>{{'OnionRepo_ValidChars' | translate}}</th>
                            <th>{{'OnionRepo_Start' | translate}}</th>
                            <th>{{'OnionRepo_End' | translate}}</th>
                            <th>{{'OnionRepo_FirstQuartet' | translate}}</th>
                            <th>{{'OnionRepo_SecondQuartet' | translate}}</th>
                            <th>{{'OnionRepo_ThirdQuartet' | translate}}</th>
                            <th>{{'OnionRepo_FourthQuartet' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="incremental in incrementalList">
                                <td>{{incremental.partialonionaddress}}</td>
                                <td>{{incremental.validchars}}</td>
                                <td>{{incremental.startdate}}</td>
                                <td>{{incremental.enddate}}</td>
                                <td>{{incremental.progressfirstquartet}}</td>
                                <td>{{incremental.progresssecondquartet}}</td>
                                <td>{{incremental.progressthirdquartet}}</td>
                                <td>{{incremental.progressfourthquartet}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </tab>
        
        <tab heading="{{'OnionRepo_Random' | translate}}">
            <div class="panel panel-primary">
                <div class="panel-heading">{{'OnionRepo_HeaderTextRandom' | translate}}</div>
                <table class="table table-bordered table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>{{'OnionRepo_OnionAddress' | translate}}</th>
                            <th>{{'OnionRepo_ResponseCode' | translate}}</th>
                            <th>{{'OnionRepo_Headers' | translate}}</th>
                            <th>{{'OnionRepo_Description' | translate}}</th>
                            <th>{{'OnionRepo_Type' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="response in responsesList">
                            <td>{{response.onionaddress}}</td>
                            <td>{{response.responsecode}}</td>
                            <td><button popover={{response.responseheaders}} popover-trigger="mouseenter" class="btn btn-default">{{'OnionRepo_Headers' | translate}}</button></td>
                            <td>{{response.oniondescription}}</td>
                            <td>{{response.servicetype}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</div>