<div class="table-responsive" ng-controller="scansController">
    <div class="panel panel-primary"><div class="panel-heading">{{'Scans_HeaderText' | translate}}</div>
        <table class="table table-bordered table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        {{'Scans_ScanId' | translate}}
                    </th>
                    <th>
                        {{'Scans_ScanDate' | translate }}
                    </th>
                    <th>
                        {{'Scans_NumRelays' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scan in scansList">
                    <td>{{scan.id}}</td>
                    <td>{{scan.scandate}}</td>
                    <td>
                        <a ng-click="functionLoadRelays(scan.id)" ng-model="relaysList">{{ scan.numnodes }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="display: table;margin: 0 auto;">
        <pagination total-items="totalItemsScans"
                    ng-model="currentPageScans" 
                    class="pagination-sm" 
                    boundary-links="true" 
                    rotate="false" 
                    items-per-page="itemsPerPage" 
                    ng-change="pageChangedScans()">
        </pagination>
    </div>
    <br />

    <div class="table-responsive" ng-hide="!relaysList.length">
        <div class="panel panel-primary"><div class="panel-heading">{{'Scans_RelaysFound' | translate}}  {{ scanIdSelected }} .</div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            
                        <th>
                            {{'Scans_RelayNickname' | translate }}
                        </th>
                        <th>
                            {{'Scans_RelayFingerprint' | translate }}
                        </th>
                        <th>
                            {{'Scans_RelayTORVersion' | translate }}
                        </th>
                        <th>
                            {{'Scans_OS' | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="relay in relaysList">
                        <td><input type="checkbox" ng-model="relay.checkedRelay" ng-click="selectRelay()"/></td>
                        <td><a ng-click="setDetailRelay(relay);open('lg', 10, 'ModalTrace_DetailRelay', relay)">{{relay.nickname}}</a></td>
                        <td>{{relay.fingerprint}}</td>
                        <td>{{relay.torversion}}</td>
                        <td>{{relay.operative_system}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display: table;margin: 0 auto;">
            <pagination total-items="totalItemsRelays"
                        ng-model="currentPageRelays" 
                        class="pagination-sm" 
                        boundary-links="true" 
                        rotate="false" 
                        items-per-page="itemsPerPage" 
                        ng-change="pageChangedRelays()">
            </pagination>
        </div>        
    </div> 
    <a class="btn btn-default" ng-disabled="isAnalizeRelayDisabled" ng-click="open('lg', 5, 'ModalTrace_AnalizeScan')">{{'Analize_Button' | translate }}</a>
    <a class="btn btn-default" ng-disabled="isGeolocateRelaysDisabled" ng-click="open('lg', 6, 'ModalTrace_GeoLocateRelays')">
        <span class="glyphicon glyphicon-flag" aria-hidden="false">
            {{'GeolocateRelays_Button' | translate}}
        </span>
    </a>
    <a class="btn btn-default" ng-click="open('lg', 7, 'ModalTrace_NewScan')">{{'NewScan_Button' | translate }}</a>
    <br />
</div>

